dnspython==1.16.0 ; python_version < "3"
idna==2.10 ; python_version < "3"
ipaddr==2.2.0 ; python_version < "3"
mysqlclient==1.4.6 ; python_version < "3"
sentry-sdk==1.10.1 ; python_version < "3"
spoon==1.0.6 ; python_version < "3"
Click==7.1.2 ; python_version < "3"
